<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhy.section2.dao.UserDao">

    <!--  添加用户信息  -->
    <insert id="addUser">
        insert into "user" (name, password, score) values (#{name}, #{password}, #{score});
    </insert>

    <!--  更新用户信息  -->
    <update id="updateUser">
        update "user" set name = #{name}, password = #{password}, score = #{score} where id = #{id};
    </update>

    <!--  根据id删除用户信息  -->
    <delete id="deleteUser">
        delete from "user" where id = #{id};
    </delete>

    <!--  删除所有用户信息  -->
    <delete id="deleteAll">
        truncate table "user" restart identity;
    </delete>

    <!--  查询所有用户信息  -->
    <select id="getUsers" resultType="com.jhy.section2.pojo.User">
        select * from "user";
    </select>

    <!--  根据id查询用户信息  -->
    <select id="User" resultType="com.jhy.section2.pojo.User">
        select * from "user" where id = #{id};
    </select>

</mapper>